.landing_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3745c2;
  height: 6%;
}

.landing_header form {
  background-color: #4654e1;
  width: 300px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing_header input {
  all: unset;
  font: 16px system-ui;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.landing_header ::placeholder {
  color: #fff;
  opacity: 0.7;
}

.landing_header input:focus {
  color: #fff;
  opacity: 0.7;
}

.landing_header svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.landing_header button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}
