<div class="search_bar">
  <form role="search" id="form">
    <input
      type="search"
      class="form-control"
      placeholder="Search movie..."
      autofocus
      #movieTitle
      (keyup.enter)="searchMovie(movieTitle.value)"
    />
    <button (click)="searchMovie(movieTitle.value)">
      <svg viewBox="0 0 1024 1024">
        <path
          class="path1"
          d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"
        ></path>
      </svg>
    </button>
  </form>
</div>
<ul class="cards_container">
  <li class="card" id="{{ movie.id }}" *ngFor="let movie of movies">
    <img
      src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
      alt="{{ movie.title }}"
    />
    <div class="card-content">
      <h3 class="card_title">{{ movie.title }}</h3>
      <p class="card_subtitle">{{ movie.release_date | date : "YYYY" }}</p>
      <div class="card_footer">
        <button routerLink="/details/{{ movie.id }}">Details</button>
      </div>
    </div>
  </li>
</ul>
