.cards_container {
  display: grid;
  gap: 2rem;
  grid-auto-columns: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  justify-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: auto;
}
